<div class="modals" *ngIf="modal === true">
    <div class="modal_content w-50">
        <br>
        <p class="fs-6 text-center">Agrega un Post</p>
        <form [formGroup]="formgroup2">
            <app-uploader (filesSelected)="onFileSelected2($event)"></app-uploader>
            <textarea class="textarea" id="descripcion" formControlName="descripcion" name="descripcion"></textarea><br>
            <div class="w-100 d-flex">
                <button (click)="SendData()" class="btn btn-primary m-auto d-block">Crear Post</button>
                <button (click)="CloseModal()" class="btn btn-danger m-auto d-block">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-4">
            <app-uploader [isImgPerfil]="true" [previews]="this.imagenExistentePerfil"
            (onPreviewDeleted)="onDeleteImagenFromBack(this.userLogged._id,$event)" (filesSelected)="onFileSelected($event)"></app-uploader>

        </div>
        <div class="col-8">
            <form class="mascotas-form" [formGroup]="formGroup">

                <div class="mb-3 form-group">
                    <i class="bi bi-person form-control-feedback"></i>
                    <input id="nombre" formControlName="nombre" placeholder="Escribe tu nombre completo" type="text"
                        class="form-control" autocomplete="off">
                    <div *ngIf="formGroup.get('nombre')?.hasError('required') && formGroup.get('nombre')?.touched"
                        class="error-message">
                        Campo requerido
                    </div>
                </div>

                <div class="mb-3 form-group">
                    <i class="bi bi-envelope form-control-feedback"></i>
                    <input id="email" formControlName="email" placeholder="Email" type="email" class="form-control"
                        autocomplete="off">
                    <div *ngIf="formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched"
                        class="error-message">
                        Campo requerido
                    </div>
                    <div *ngIf="formGroup.get('email')?.hasError('email')" class="error-message">
                        Email con formato inválido
                    </div>
                </div>

                <!--
                <div class="mb-3 form-group">
                    <i class="bi bi-lock form-control-feedback"></i>
                    <input id="password" formControlName="password" placeholder="Escribe tu nueva contraseña (Solo si deseas modificarla)" type="password" class="form-control" autocomplete="off">
                    <div *ngIf="formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched" class="error-message">
                        Campo requerido
                    </div>
                    <div *ngIf="formGroup.get('password')?.hasError('minlength')" class="error-message">
                        La contraseña debe contener al menos 8 caracteres
                    </div>
                </div>
                -->




                <button (click)="onSubmit(this.userLogged._id)" class="btn auth-btn-custom">Submit</button>
            </form>
            <button class="btn btn-success" (click)="OpenModal()">Agregar Post</button>
        </div>

    </div>
</div>
<div class="feed">
    <div class="Post" *ngFor="let item of posts">
        <br>
        <p class="fs-6  p-2 mx-3" style="word-wrap: break-word;">{{item.descripcion}}</p>
        <img [src]="item.imagen"  alt="" class="imagen-post"><br>
    </div>
</div>