@import '../../../../assets/partial/vars';

#info-mascotas-detail {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .details{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        p{
            text-align: justify;
        }
    }
}

.mascota-img{
    height: 700px;

    img{
        width: 100%;
        height: 100%;
        height: 700px;
    }
}

.mascota-img2 {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 160px;

    img{
        
        width: 400px;
        height: auto;
    }
}


