<app-loading *ngIf="this.isLoading"></app-loading>


<ng-container *ngIf="!this.isLoading" style="margin-top: 160px;">
    <carousel *ngIf="this.mascota.imagenes.length >1" style="width: 100%;">
        <slide *ngFor="let img of this.mascota.imagenes" class="mascota-img">
            <img [src]="img" alt="first slide">
        </slide>
    </carousel>
    <div id="MascotaDetailPage" class="container-fluid">
        <section id="info-mascotas-detail">

            <div *ngIf="this.mascota.imagenes.length ===1 && this.mascota.imagenes[0] !== ''" class="mascota-img2">
                <img 
                    [src]="this.mascota.imagenes[0]" class="mx-auto" style="display: flex;">
            </div>

            <div class="details">
                <h2>{{ (this.mascota && this.mascota.nombre !== '') ? this.mascota.nombre :'Detalle de Mascota'}}</h2>
                <p>{{this.mascota.descripcion ? this.mascota.descripcion : 'No hay descripción'}}</p>
                <span><strong>Sexo: </strong> {{this.mascota.sexo ? this.mascota.sexo : '--'}}</span>
                <span><strong>Edad (años): </strong> {{this.mascota.edad ? this.mascota.edad : 0}}</span>
                <span><strong>Especie: </strong> {{(this.mascota.especie && this.mascota.especie.nombre) ? this.mascota.especie.nombre : 'No especificado'}}</span>
                <span><strong>Raza: </strong> {{(this.mascota.raza && this.mascota.raza.nombre) ? this.mascota.raza.nombre : 'No especificado'}}</span>


            </div>


        </section>

    </div>
</ng-container>