/* colors */
$color-primary-dark: #073832;
$color-secondary-dark: #0a1d1d;

$green: #8AB17D;
$dark-green: #6e8367;

$blue: #388388;
$dark-blue: #005F60;

$gray: #BEBFCA;
$dark-gray: #52565a;

$yellow: #E9C46A;
$dark-yellow: #EEC643;

$orange: #F4A261;
$dark-orange: #c96928;

$red: #E76F51;

$color-light: whitesmoke;
