<footer>
    <div class="sombra">
      <div class="footer-container">
        <div class="columna">
          <h3>IECA</h3>
          <p>Curso Angular </p>
        </div>
  
        <div class="columna">
          <h3>Proyecto Final</h3>
          <p>Pet Paradise</p>

        </div>
  
        <div class="columna">
          <h3>Equipo</h3>
           <ul class="list-unstyled">
            <li>
             <p>Luis Raúl Ramírez</p>
            </li>
  
            <li>
              <p>Alan Guzman</p>
            </li>
  
            <li>
             <p>Angel Becerra</p>
            </li>
          </ul>
        </div>

        <div class="columna">
           <ul class="list-unstyled">
            <li>
              <p>David Gasca</p>
            </li>
            <li>
              <p>Jessica Nicasio</p>
            </li>

            <li>
              <p>Jesús Hernández </p>
            </li>
            <li>
              <p>Karla M. Rios Diaz</p>
            </li>

          </ul>
        </div>
  
      </div>
    </div>
  
  </footer>

