@import '../../../assets/partial/vars';

.bg-custom {
  background-color: $dark-orange;  
}


.bg-customm {
  background-color: $dark-orange;  
}

.box-shadow-navbar {
  box-shadow: 5px 5px 24px black;
}

