body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #mascota-info {
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  #imagen-mascota {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  #editar-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #editar-btn:hover {
    background-color: #45a049;
  }body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #mascota-info {
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  #imagen-mascota {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  #editar-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #editar-btn:hover {
    background-color: #45a049;
  }
  