@import '../../../../assets/partial/vars';

#mascotas-section {
    padding: 30px;
    height: auto;
    width: 100vw;
    padding: 50px 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mascota-card {
    width: 16rem;
    margin: 10px;
    cursor: pointer;
}

.propietario {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    background-color: $gray;

    cursor: pointer;
}

.propietario-span {
    display: flex;
    align-items: center;

}

.propietario-default {
    font-size: 25px;
}

.info-mascota {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .gender {
        font-size: 16px;
        font-weight: bold;

        .macho {
            color: $blue;
        }

        .hembra {
            color: $red;
        }
    }
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-mascota {
    padding-top: 1rem;
    width: 100%;
    text-align: justify;

    strong {
        margin-right: 8px;
    }

    .description {
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

::ng-deep .page-link {
    color: $dark-green !important;
}

::ng-deep .active>.page-link {
    background-color: $dark-green !important;
    border-color: $dark-green !important;
    color: white !important;
}