<carousel id="home-carousel">
    <slide>
        <img [src]="this.ASSETS + '/mascotas/carrusel-1.jpg'" alt="first slide" class="carrusel-img">
        <div class="carousel-caption d-none d-md-block">
            <h3>Refuerzo positivo en perros</h3>
            <p>Visita <a href="https://www.expertoanimal.com/el-refuerzo-positivo-en-perros-20281.html">Experto Animal</a></p>
        </div>
    </slide>
    <slide>
        <img [src]="this.ASSETS + '/mascotas/carrusel-2.jpg'" alt="second slide" class="carrusel-img">
        <div class="carousel-caption d-none d-md-block">
            <h3>Características de las razas de gatos</h3>
            <p>Visita <a href="https://www.expertoanimal.com/razas-de-gatos.html">Experto Animal</a></p>
        </div>
    </slide>
    <slide>
        <img [src]="this.ASSETS + '/mascotas/carrusel-3.jpg'" alt="third slide" class="carrusel-img">
        <div class="carousel-caption d-none d-md-block">
            <h3>La tortuga como mascota</h3>
            <p>Visita <a href="https://www.expertoanimal.com/la-tortuga-como-mascota-24473.html">Experto Animal</a></p>
        </div>
    </slide>
</carousel>

<app-mascotas-section></app-mascotas-section>
<!--  
<app-uploader [isImgPerfil]="true" (filesSelected)="onFileSelected($event)"></app-uploader>
-->