<div id="PerfilPage" class="container-fluid pagina-general">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img [src]="this.userLogged.imagen" class="img-avatar">
                    <app-up-profile-loader [isImgPerfil]="true"
                        (filesSelected)="onFileSelected($event)"></app-up-profile-loader>

                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">{{ userLogged['nombre']}}</h3>
                <p>Email: {{ userLogged['email']}}</p>
            </div>
            <div class="perfil-usuario-footer">
                <div class="lista-datos">
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                   </div>
                <div class="lista-datos">
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </div>
            </div>
        </div>
    </section>
</div>