<div id="PerfilPage" class="container-fluid pagina-general">
    <!-- <div class="row">
        <div class="col">
            <h3>PERFIL</h3>
        </div>
    </div> -->
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="" alt="img-avatar">
                    <button type="button" class="boton-avatar">I</button>
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Alex Taco</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti laudantium odit at dignissimos et
                    quam possimus voluptate dolorem tempora provident. Sapiente quam commodi repellendus nostrum dolore
                    sit numquam in officia!</p>
            </div>
            <div class="perfil-usuario-footer">
                <div class="lista-datos">
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </div>
                <div class="lista-datos">
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </div>
            </div>
        </div>
    </section>
</div>