<div id="PerfilPage" class="container-fluid pagina-general">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img [src]="this.userLogged.imagen" class="img-avatar">
                    <app-up-profile-loader [isImgPerfil]="true"
                        (filesSelected)="onFileSelected($event)"></app-up-profile-loader>

                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">{{ userLogged['nombre']}}</h3>
                <p>Email: {{ userLogged['email']}}</p>
            </div>
            <div class="perfil-usuario-footer">
                <div class="lista-datos">
                    <form action="">
                        <textarea name="nota" id="nota" cols="80" placeholder="Describe el momento"></textarea>
                        <app-uploader [isImgPerfil]="false" (filesSelected)="onFileSelected($event)"></app-uploader>
                        <button type="submit">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>